@model Models.ViewModels.EmployeeViewModels.EmployeeResults

<div id="employeeResults">
    <table class="table table-striped table-hover" id="employeeResults">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Address</th>
                <th>Mobile Number</th>
                <th>Job Title</th>
                <th>Gender</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Employee)
            {
                <tr>
                    <td>@obj.Fullname</td>
                    <td>@obj.EmployeeDetail.Address</td>
                    <td>@obj.EmployeeDetail.MobileNumber</td>
                    <td>@obj.JobRole.JobRoleTitle</td>
                    <td>@obj.Gender.GenderName</td>

                    <td><a asp-action="Edit" asp-route-id="@obj.EmployeeId">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>