@model Models.ViewModels.EmployeeViewModels.CreateEmployeeViewModel

<input type="hidden" asp-for="@Model.Employee.EmployeeId" value="@Model.Employee.EmployeeId" />

<div class="container">
    <div class="form-group">
        <label class="control-label">First Name</label>
        <input class="form-control" asp-for="@Model.Employee.FirstName" />
        <span asp-validation-for="@Model.Employee.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Last Name</label>
        <input class="form-control" asp-for="@Model.Employee.LastName" />
        <span asp-validation-for="@Model.Employee.LastName" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label class="control-label">Mobile Number *</label>
        <input  class="form-control" asp-for="@Model.EmployeeDetails.MobileNumber" />
        <span asp-validation-for="@Model.EmployeeDetails.MobileNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Home Phone Number</label>
        <input class="form-control" asp-for="@Model.EmployeeDetails.HomePhoneNumber">
     @*   <span asp-validation-for="@Model.EmployeeDetails.HomePhoneNumber" class="text-danger"></span>*@
    </div>

    <div class="form-group">
        <label class="control-label">Address</label>
        <input class="form-control" asp-for="@Model.EmployeeDetails.Address" />
        @*<span asp-validation-for="@Model.EmployeeDetails.Address" class="text-danger"></span>*@
    </div>

    <div class="form-group">
        <label class="control-label">Job Role</label>
        <select asp-items="@(new SelectList(Model.JobRoles, "JobRoleId", "JobRoleTitle", Model.Employee.JobRoleId))" asp-for="@Model.Employee.JobRoleId" class="form-control">
            <option value="0">Please select an option</option>
        </select>

    </div>

    <div class="card-footer pt-5">
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>

