@model Models.ViewModels.CreateEmployeeViewModel

<input type="hidden" asp-for="@Model.Employee.EmployeeId" value="@Model.Employee.EmployeeId"/>

<div class="form-group">
    <label class="control-label"></label>
    <input class="form-control" asp-for="@Model.Employee.FirstName"/>
    <span class="test-danger"></span>
</div>
<div class="form-group">
    <label class="control-label"></label>
    <input class="form-control" asp-for="@Model.Employee.LastName"/>
    <span class="test-danger"></span>
</div>
<div class="form-group">
    <label class="control-label"></label>a
    <input class="form-control" asp-for="@Model.ContactDetails.MobileNumber"/>
    <span class="test-danger"></span>
</div>
<div class="form-group">
    <label class="control-label"></label>a
    <input class="form-control" asp-for="@Model.ContactDetails.Address"/>
    <span class="test-danger"></span>
</div>


<div class="form-group">
    <label class="control-label"></label>
    <select asp-items="@(new SelectList(Model.JobRoles, Model.Employee.JobRole))" asp-for="@Model.Employee.JobRole" class="form-control">
        <option value="0">Please select an option</option>
    </select>
    @*<input class="form-control" asp-for="@Model.JobRoles.JobTitle"/>*@
    <span class="test-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>
